@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background: #000000;
    color: white;
}

.led-text {
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
}

.animate-marquee {
    will-change: transform;
}
